<nav class="navbar navbar-expand-lg navbar-light bg-light"
	 xmlns:th="http://www.thymeleaf.org" 
	 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
        <a class="navbar-brand" th:href="@{/}">HR Access</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" th:href="@{/employee}">My Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:unless="${#authorization.expression('hasRole(''ROLE_HR'')') }" sec:authorize="hasRole('ROLE_MANAGER')" th:href="@{/manager}">My Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_HR')" th:href="@{/hr}">My Workplace</a>
                </li>
				<li class="nav-item">
                    <!-- <a class="nav-item nav-link" sec:authorize="hasRole('ROLE_HR')" th:href="@{/employee/new}">New Employee</a> -->
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin</a>
                </li>
            </ul>
            <ul class="navbar-nav">                
                <li class="nav-item">
                    <a class="nav-link " sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout (<span sec:authentication="name"></span>)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </nav>