<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="${title}">
      
<th:block layout:fragment="content">

	<h3>Enabled Employees</h3>
	
	<div class="table-responsive">
		<table class="table table-bordered table-hover" id="employees">
	        <thead class="thead-light">
		        <tr>
		            <th class="text-center">Name</th>
		            <th class="text-center">User Id</th>
		            <th>Actions</th>
		        </tr>
	        </thead>
	        <tbody>
		        <tr th:each="employee : ${enabledEmployees}" th:id="|employee_${employee.id}|">
		            <td class="text-center">
		                <span id=name data-type="text" data-title="name"
		                      th:attr="data-pk=${employee.id}, data-value=name"
		                      th:text="|${employee.firstName} ${employee.lastName}|"> Name</span>
		            </td>
		            <td class="text-center">
		                <span id="population" data-type="number" data-title="username"
		                      th:attr="data-pk=${employee.id}, data-value=${employee.user.username}"
		                      data-clear="false"
		                      th:text="${employee.user.username}">User Id</span>
		            </td>
		            <td>
		                <form method="post" th:action="@{|/admin/${employee.user.id}/false|}" class="inline">
							<input type="hidden" name="extra_submit_param" value="extra_submit_value">
							<button type="submit" th:attr="data-id=${employee.user.id},data-name=${'disable_' + employee.user.id}" class="link-button">
								Disable
							</button>
						</form>                
		            </td>
		        </tr>
	        </tbody>
	    </table>
    </div>
    
    <h3>Disabled Employees</h3>
    
	<div class="table-responsive">
		<table class="table table-bordered table-hover" id="employees">
	        <thead  class="thead-light">
		        <tr>
		            <th class="text-center">Name</th>
		            <th class="text-center">User Id</th>
		            <th>Actions</th>
		        </tr>
	        </thead>
	        <tbody>
		        <tr th:each="employee : ${disabledEmployees}" th:id="|employee_${employee.id}|">
		            <td class="text-center">
		                <span id=name data-type="text" data-title="name"
		                      th:attr="data-pk=${employee.id}, data-value=name"
		                      class="inline-editable"
		                      th:text="|${employee.firstName} ${employee.lastName}|"> Name</span>
		            </td>
		            <td class="text-center">
		                <span id="population" data-type="number" data-title="username"
		                      th:attr="data-pk=${employee.id}, data-value=${employee.user.username}"
		                      data-clear="false"
		                      class="inline-editable"
		                      th:text="${employee.user.username}">User Id</span>
		            </td>	            
		            <td>
		                <form method="post" th:action="@{|/admin/${employee.user.id}/true|}" class="inline">
							<input type="hidden" name="extra_submit_param" value="extra_submit_value">
							<button type="submit" th:attr="data-id=${employee.user.id},data-name=${'enable_' + employee.user.id}" class="link-button">
								Enable
							</button>
						</form>                  
		            </td>
		        </tr>
	        </tbody>
	    </table>
    </div>
</th:block>