<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="${title}">
<th:block layout:fragment="content">
	<div class="container pt-3">
		<div class="row justify-content-sm-center">
    		<div class="col-sm-2 col-md-8">				
				<form th:object="${employee}" role="form">
	               	<div class="form-group">
						<label class="control-label" th:for="firstName">First Name</label>
						<label class="form-control" th:text="${employee.firstName}"></label>
					</div>
					<div class="form-group">
						<label class="control-label" th:for="lastName">Last Name</label>
						<label class="form-control" th:text="${employee.lastName}"></label>
					</div>
					<div class="form-group">
						<label class="control-label" th:for="employee.user.username">Username</label>
						<label class="form-control" th:text="${employee.user.username}"></label>
					</div>
					<div class="form-group">
						<label class="control-label" th:for="managerName">Manager</label>
						<label class="form-control" th:text="${managerName}"></label>
					</div>                   
					<div class="form-group">
						<label class="control-label" th:for="role">Role</label>
						<label class="form-control" th:text="${employee.role.type}"></label>
					</div>
					<div class="form-group">
						<label class="control-label" th:for="role">Department</label>
						<label class="form-control" th:text="${employee.department.name}"></label>
					</div>
					<div class="form-group">
						<label class="control-label" th:for="role">Vacation Entitlement</label>
						<label class="form-control" th:text="${employee.vacation}"></label>
					</div>
					<div class="form-group">
						<label class="control-label" th:for="role">Salary</label>
						<label class="form-control" th:text="${employee.salary}"></label>
					</div>
					<div class="form-group">
						<label class="control-label" th:for="role">Bonus</label>
						<label class="form-control" th:text="${employee.bonus}"></label>
					</div>
					<!-- <div sec:authorize="isAuthenticated()">Authenticated as <span sec:authentication="name"></span></div> -->
				</form>			
			</div>
		</div>
	
		<h3>Financial History</h3>
			
		<div class="table-responsive">
			<table class="table table-bordered table-hover" id="finances">
				<thead class="thead-light">
					<tr>
						<th class="text-center">Date Changed</th>
						<th class="text-center">Type</th>
						<th class="text-center">Old Value</th>		          
						<th class="text-center">New Value</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="finance : ${employee.finances}" th:id="|finance_${finance.id}|">
						<td class="text-center">
							<span id=name data-type="text" data-title="added"
								  th:attr="data-pk=${finance.id}, data-value=${finance.added}"
								  class="inline-editable"
								  th:text="${finance.added}"> Date Added</span>
						</td>
						<td class="text-center">
							<span id="population" data-type="text" data-title="type"
							  th:attr="data-pk=${finance.id}, data-value=${finance.type}"
							  data-clear="false"
							  class="inline-editable"
								  th:text="${finance.type}">Type</span>
						</td>
						<td class="text-center">
							<span id="vacation" data-type="number" data-title="oldValue"
				                  th:attr="data-pk=${finance.id}, data-value=${finance.oldValue}"
								  data-clear="false"
								  class="inline-editable"
								  th:text="${finance.oldValue}">Old Value</span>
						</td>
						<td class="text-center">
							<span id="vacation" data-type="number" data-title="newValue"
				                  th:attr="data-pk=${finance.id}, data-value=${finance.newValue}"
								  data-clear="false"
								  class="inline-editable"
								  th:text="${finance.newValue}">New Value</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="form-group submit-cancel">
			<!-- <a sec:authorize="hasAnyRole('ROLE_MANAGER')" class="btn btn-primary" th:href="@{|/employee/${employee.id}?view=false|}">Edit</a>  -->
			<a sec:authorize="hasAnyRole('ROLE_HR', 'ROLE_MANAGER')" class="btn btn-light" th:href="@{/redirect}">Cancel</a>
		</div>
	</div>
</th:block>