<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="Login">

<th:block layout:fragment="content">
	<div class="container pt-3">
		<div class="row justify-content-sm-center">
    		<div class="col-sm-6 col-md-4">
				<div class="card border-info text-center">
        			<div class="card-header">Sign in to continue</div>
        			<div class="card-body">
	         			<form th:action="@{/login}" method="POST" class="form-signin">
            				<input type="text" class="form-control mb-2" id="username" name="username" th:placeholder="Username" required autofocus>
            				<input type="password" class="form-control mb-2" th:placeholder="Password" id="password" name="password" required>
            				<div th:if="${param.error} and ${session}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
								<div class="alert alert-dismissible alert-danger error">
			          				Reason: <span th:text="${errorMsg}"></span>
			     				</div>
							</div>	
            				<button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Sign in</button>           
          				</form>
        			</div>
      			</div>
    		</div>
  		</div>
	</div>
</th:block>