<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="${title}">
<th:block layout:fragment="content">
	
	<h3>Team Members</h3>
	
	<div class="table-responsive">
		<table class="table table-bordered table-hover" id="employees">
	        <thead class="thead-light">
		        <tr>
		            <th class="text-center">Name</th>
		            <th class="text-center">User Id</th>
		            <th class="text-center">Vacation</th>
		            <th class="text-center">Salary</th>
		            <th class="text-center">Bonus</th>
		            <th>Actions</th>
		        </tr>
	        </thead>
	        <tbody>
		        <tr th:each="employee : ${employees}" th:id="|employee_${employee.id}|">
		            <td class="text-center">
		                <span id=name data-type="text" data-title="name"
		                      th:attr="data-pk=${employee.id}, data-value=name"
		                      class="inline-editable"
		                      th:text="|${employee.firstName} ${employee.lastName}|"> Name</span>
		            </td>
		            <td class="text-center">
		                <span id="population" data-type="number" data-title="username"
		                      th:attr="data-pk=${employee.id}, data-value=${employee.user.username}"
		                      data-clear="false"
		                      class="inline-editable"
		                      th:text="${employee.user.username}">User Id</span>
		            </td>
		            <td class="text-center">
		                <span id="vacation" data-type="text" data-title="vacation"
		                      th:attr="data-pk=${employee.id}, data-value=${employee.vacation}"
		                      data-clear="false"
		                      class="inline-editable"
		                      th:text="${employee.vacation}">Vacation</span>
		            </td>
		            <td class="text-center">
		                <span id="salary" data-type="text" data-title="salary"
		                      th:attr="data-pk=${employee.id}, data-value=${employee.salary}"
		                      data-clear="false"
		                      class="inline-editable"
		                      th:text="${employee.salary}">Salary</span>
		            </td>
		            <td class="text-center">
		                <span id="bonus" data-type="text" data-title="bonus"
		                      th:attr="data-pk=${employee.id}, data-value=${employee.bonus}"
		                      data-clear="false"
		                      class="inline-editable"
		                      th:text="${employee.bonus}">Bonus</span>
		            </td>
		            <td>
		                <a style="padding:1px 6px;" th:href="@{|/employee/${employee.id}?view=true|}" th:attr="aria-label=${'view' + employee.id}">View</a>
		                <a style="padding:1px 6px;" th:href="@{|/employee/${employee.id}?view=false|}" th:attr="aria-label=${'Edit ' + employee.id}">Edit</a>		                             
		            </td>
		        </tr>
	        </tbody>
	    </table>
    </div>
</th:block>